  <div style="text-align: center">
    <h1>{{ name }}</h1>
  </div>

  <div class="container">
  <form>
    <div class="form-floating">
      <span class="col-1 text-center">
        <label for="nombre" class="form-label">Nombre:</label>
        </span>
      <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="nombre" />
    </div>

    <br>

    <div class="form-floating">
      <span class="col-1 text-center">
      <label for="cif" class="form-label">CIF: </label>
</span>
      <input type="text" name="cif" id="cif" class="form-control" [(ngModel)]="cif" />
    </div>

    <br>

    <div class="form-floating">
      <span class="col-1 text-center">
      <label for="direccion" class="form-label">Dirección:</label>
      </span>
      <input type="text" name="direccion" id="direccion" class="form-control" [(ngModel)]="direccion" />
    </div>

    <br>

    <div class="form-floating">
      <span class="col-1 text-center">
        <label for="grupo" class="form-label">Grupo:</label>
      </span>

        <select class="form-select input-sm" name="grupo" id="grupo" [(ngModel)]="grupo">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary" (click)="guardarCliente()">
          Guardar
        </button>
      </div>
      </form>
      </div>


      <div>
        <app-form [datosForm]="datosForm"></app-form>
      </div>

      <router-outlet></router-outlet>
