<div class="table-responsive">
  <h2 style="text-align: center">{{ name }}</h2>

  <div>
    <table class="table">
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>CIF</th>
        <th>Dirección</th>
        <th>Grupo</th>
      </tr>
      <tr *ngFor="let dato of datosForm; let i = index">
        <td></td>
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.cif }}</td>
        <td>{{ dato.direccion }}</td>
        <td>{{ dato.grupo }}</td>
      </tr>
    </table>
  </div>
</div>
